[flake8]
count = true
docstring-convention = google
exclude =
    .jupyter
    migrations
ignore = D203, D100, D101, D101, D102, D103, D104, D105, D106, D107, W503
max-complexity = 20
max-line-length = 88
show-source = true
statistics = true
tee = true
